.nombre {
    width: 50px;
    padding : 2px;
    padding-bottom: 3em;
    border: 1px solid black;
    margin: auto;
    vertical-align: center;
}

.cache {
    visibility: hidden;
}

.erreur {
    color: red;
    border: 1px solid red;
}

.succes {
    color: #009527;
    background-color : #a9e9aa;
}
