.nombre {
    width: 50px;
    padding : 1rem;
    border: 1px solid black;
    margin: auto;
    vertical-align: center;
    text-align: center;
    display: inline-block;
    margin: 1rem;
}

.nombres{
    max-width: 100%;
    margin-top: 2rem;
}

.cache {
    visibility: hidden;
}

.erreur {
    color: red;
    border: 1px solid red;
}

.succes {
    color: #009527;
    background-color : #a9e9aa;
}
